body {
  background: linear-gradient(
    to right,
    #c33764,
    #1d2671
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  height: 90vh;
}

.welcome_title {
  font-size: 7em;
  font-weight: bold;
  margin: none;
}

.welcome {
  display: flex;
}

.welcome_image {
  align-self: flex-end;
}

#result {
  transition: 0.2s ease-in-out;
}

.description {
  font-size: 2em;
}

.copyright {
  font-size: 1.5em;
}

.github_btns {
  display: flex;
  justify-content: space-around;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
