.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans";
}

#copy {
  visibility: hidden;
}

button {
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: #1e1e1e;
}
.url_shortener {
  justify-self: center;
  align-self: center;
}
.hero-copy {
  padding-right: 0 !important;
  text-align: center;
}

.site-header-inner {
  justify-content: center;
}

.footer {
  width: 100vw;
  height: 5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-brand {
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
}

.social_icon {
  margin: 0 0.5em;
  width: 25px;
  height: 25px;
}

.linkedIn {
  background: url("data:image/svg+xml,%3Csvg width='25' viewBox='0 0 24 24' fill='rgb(0,119,181)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z'/%3E%3C/svg%3E") !important;
}

.github {
  background: url("data:image/svg+xml,%3Csvg width='25' viewBox='0 0 24 24' fill='rgb(0,0,0)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

.npm {
  background: url("data:image/svg+xml,%3Csvg width='25' viewBox='0 0 24 24' fill='rgb(203,56,55)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.334v8h6.666v1.332H12v-1.332h12v-8H0zm6.666 6.664H5.334v-4H3.999v4H1.335V8.667h5.331v5.331zm4 0v1.336H8.001V8.667h5.334v5.332h-2.669v-.001zm12.001 0h-1.33v-4h-1.336v4h-1.335v-4h-1.33v4h-2.671V8.667h8.002v5.331zM10.665 10H12v2.667h-1.335V10z'/%3E%3C/svg%3E") !important;
}

@media only screen and (max-width: 600px) {
  button {
    width: 83%;
  }
  input {
    margin: 0 2em;
  }
  #long_url {
    align-self: center;
    justify-self: center;
  }
}
